.icon-bar{
    width: 7vw;
    height: auto;
   

}
.nav-icon-col{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-grid {
    overflow: hidden;
    background-color: #272727;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }